@media (max-width: 768px) {
  body {
    overflow: auto;
  }

  main {
    flex-direction: column;
    height: auto;
  }

  #buckets-list {
    max-height: 35vh;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }

  #detail-panel {
    width: 100%;
    max-height: none;
    overflow-y: visible;
  }

  nav input[type="search"] { width: 55%; }
  nav select { width: 40%; }

  .tag-cloud {
    display: none;
  }
}
